h1 {
    justify-content: center;
    text-align: center;
    color: white;
    background-color: blue;
}
#miDiv {
    padding: 10px;
    height: 100px;
    width: 100px;
    background-color: rgb(44, 191, 211);
    color: rgb(48, 48, 43);
}
