body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  form {
    background-color: rgb(143, 195, 202);
    padding: 30px 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    transition: background-color 0.4s, border 0.4s;
  }

  .calculadora {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  input[type="number"], select {
    display: block;
    margin: 0 auto;
    width: 98px;
    max-width: 98px;
    padding: 6px;
    font-size: 1em;
    border: 1px solid #222;
    border-radius: 2px;
  }

  .resultado {
    display: block;
    margin: 0 auto;
    width: 98px;
    max-width: 98px;
    padding: 6px;
    background: #d4f4d1;
    border: 2px solid #2ecc40;
    color: #222;
    font-size: 1.2em;
    border-radius: 3px;
    text-align: center;
  }

  .impar {
    background-color: #fdd;
    border: 2px solid red;
  }

  .par {
    background-color: #dfd;
    border: 2px solid green;
  }